<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <main>
            <div class="jumbotron">
                <h1>SQL Injection</h1>
                <p>Welcome to Insecure Deserialization Testing</p>
            </div>
        </main>

    </main>

    <form method="POST" action="/insecure">
        <label> Username</label>
        <input type="text" id="id" name="username" />
        <input type="submit" value="submit" onClick="yash()" />
    </form>
    <button onclick="yash()">yash</button>
    <p>
        <%= data %>
    </p>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
<!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<script>
    function yash() {
        var element = document.getElementById(id);
        document.getElementById("id").value = "Yash1"
        console.log(document.getElementById("id"))
        var ele ="Yash"
        // const crypto = require('crypto-js');
        // const buffer = require('buffer');
        // const { privateKey, publicKey } = CryptoJS.generateKeyPairSync('rsa', {
        //     modulusLength: 2048,
        // });
        // const algorithm = "SHA256";

        // // Converting string to buffer
        // const data = "I Love GeeksForGeeks";

        // // Sign the data and returned signature in buffer
        // const signature = CryptoJS.sign(algorithm, data, privateKey);

        // // Verifying signature using crypto.verify() function
        // const isVerified = CryptoJS.verify(algorithm, data, publicKey, signature);
        var hash = CryptoJS.SHA256(ele)
        // Printing the result
        console.log(ele)
        console.log(hash.toString());
        var hash = CryptoJS.SHA256(ele)
        // Printing the result
        // var encrypted = CryptoJS.AES.encrypt(hash, "Secret Passphrase");

        // var decrypted = CryptoJS.AES.decrypt(encrypted, "Secret Passphrase");
        // console.log(decrypted)
​
    }
</script>

</html>